<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <title>Timery dla uposledzonych:</title>
    <style>
      .marquee__content {
      width: 100%;
      display: flex;
      line-height: 15px;
      animation: marquee 11s linear infinite forwards;
      }

      @keyframes marquee {
      0% {
      transform: translateX(-230%);
      }
      50% {
      transform: translateX(+230%);
      }
      100% {
      transform: translateX(-230%);
      }
      }
    </style>
  </head>
  <body>

    <div class="container">
      <div class="row justify-content-center">
        <div class="col-7">
          <h1 class="mt-2">Timery dla uposledzonych</h1>
          <hr class="mt-0 mb-4">
          {% block content %}
          {% endblock %}
          <br>
          <hr class="mt-0 mb-4">
          <h1 class="mt-2">Tablica najgorszych dzbanów:</h1>
          <div class="marquee__content">
            <h1 class="mt-1"><img src="https://images.evetech.net/characters/1247653638/portrait?size=64"> <font size="21" color="Red">Szaman</font><img src="https://images.evetech.net/characters/1247653638/portrait?size=64"></h1>
          </div>
            <div class="marquee__content">
            <h1 class="mt-1"><img src="https://images.evetech.net/characters/1848010139/portrait?size=64"> <font size="21" color="Red">Phunas</font> <img src="https://images.evetech.net/characters/1848010139/portrait?size=64"></h1>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>